/* @import './variables.css'; */
@import '../styles/base/base.css';
@import '../styles/reset/reset.css';
@import '../styles/colors/colors.css';
@import '../styles/container/container.css';
@import '../styles/container/container--max-1199.css';
@import '../styles/container/container--min-1600.css';

/* local custom fonts */
@font-face {
  font-family: 'MyFont';
  src: url('/next-app/fonts/Avenir/webFonts/AvenirLTPro-Medium/font.woff2') format('woff2'),
  url('/next-app/fonts/Avenir/webFonts/AvenirLTPro-Medium/font.woff') format('woff');
  font-weight: 400; /* or other weights */
  font-style: normal;
  font-display: swap; /* improves performance */
}
/* local custom fonts */



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
   font-family: 'MyFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  max-width: var(--container-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}
