@font-face {
  font-family: 'Avenir';
  font-weight: 700;
  src: url('./webFonts/AvenirLTPro-Black/font.woff2') format('woff2'), url('./webFonts/AvenirLTPro-Black/font.woff') format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 600;
  src: url('./webFonts/AvenirHeavy/avenirltstd_heavy-webfont.woff2') format('woff2'), url('./webFonts/AvenirHeavy/avenirltstd_heavy-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 500;
  src: url('./webFonts/AvenirLTPro-Medium/font.woff2') format('woff2'), url('./webFonts/AvenirLTPro-Medium/font.woff') format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  src: url('./webFonts/AvenirLTPro-Book/font.woff2') format('woff2'), url('./webFonts/AvenirLTPro-Book/font.woff') format('woff');
}
