.our-program {
  padding: 70px 0;
  background-color: var(--white);
}

.our-program-title {
  font-weight: var(--fw-se);
  font-size: var(--fs48);
  color: var(--black);
  padding: 0 0 22px 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

/* ourprogram.module.css */

.our-program :global(.swiper) {
  padding-left: 30px;
  /* padding-right: 50px; */
}

.our-program :global(.swiper-button-prev) {
  left: 0px;
  /* adjust spacing */
  width: 1.063rem;
  height: 1.875rem;
}

.our-program :global(.swiper-button-next) {
  right: 5px;
  width: 1.063rem;
  height: 1.875rem;
}